[Unit]
Description=piclock reload service
After=network.target
After=time-sync.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/pi/random/piroot/piclock
Type=simple
Restart=always
RestartSec=1
User=root
Environment=PULLUP=1 BUTTON=24 RUNPROG=./pireload/reload.sh
ExecStart=/home/pi/random/piroot/piclock/pireload/pireload
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
